parameters:
    API_KEY_SKLONOVANIE_MIEN: 1234asdf54321fdsa

database:
    dsn: 'mysql:host=mysql80.r1.websupport.sk;dbname=tpq59446'
    user: 'tpq59446'
    password: 'Vr517ockKt'

#	dsn: 'mysql:host=127.0.0.1;dbname=bw'
#	user: 'root'
#	password: ''

mail:
    smtp: true                      # (bool) výchozí je false
    host: smtp.websupport.sk        # (string)
    port: 465                       # (int)
    username: info@petercubon.sk    # (string)
    password: By23#S#/xr            # (string)
    secure: ssl                     # (ssl|tls|null) výchozí je null
